.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.1em;
}

.App-intro {
  font-size: large;
}

.user-guess input {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.user-guess .guess-button{
  margin-bottom: 20px;
  font-size: x-large;
}
.current-word{
  font-size: 60px;
  margin : 20px;
}
.current-word-container{
  margin : 60px;
  color : darkgray;
  
}
.win-lose{
  color:red;
}

.game-status{
  font-size: large;
  border: 2px solid blue;
  width: 50%;
  margin: auto;
  margin-top : 50px;
  padding: 15px;
}

.counter{
  border: 2px solid lightcoral;
  width: 15%;
  margin: auto;
}

.new-game{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
}

.instructions li{
  list-style-type: none;
  font-size: large;
  font-family: Verdana, sans-serif;
  line-height: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 700px) {
  body{
    background-color: aliceblue;
  }

  .current-word-container{
    margin : auto;
    color : darkgray;
    width: 70%;
  }
  .current-word{
    font-size: 30px;
    margin : 5px;
  }
  .instructions li{
    list-style-type: none;
    font-size: x-small;
    font-family: Verdana, sans-serif;
  }
  .user-guess input {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }
  .user-guess .guess-button{
    margin-bottom: 10px;
    font-size: large;
  }
  .game-status{
    font-size: large;
    border: 2px solid blue;
    width: 50%;
    margin: auto;
    margin-top : 10px;
    padding: 5px;
  }

  .user-guess input {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }
  .user-guess .guess-button{
    margin-bottom: 20px;
    font-size: large;
  }

}
